@model FooterVM
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="about">
                    <h4>TAMİRCİ İSTASYONU</h4>
                    <p>Tamirci İstasyonu'nda her biri alanında en iyi olan dört sanayi esnafımızı bir site de buluşturup,müşterilerin hizmetine sunuyoruz.</p>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="helpful-links">
                    <h4>İletişim Bilgileri</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <ul>
                                <li>Erenler Lastik Kaynağı</li>
                                <li>Gönen Kaporta Boya</li>
                                <li>Kahveci Demir Ticareti</li>
                                <li>Murat Oto Lastik</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li>Sanayi Sitesi 7.Blok D:54 Çanakkale/Çan</li>
                                <li>Sanayi Sitesi 7.Blok D:53 Çanakkale/Çan</li>
                                <li>Sanayi Sitesi 3.Sokak No:1 Çanakkale/Çan</li>
                                <li>Sanayi Sitesi 2.Sokak No:28 Çanakkale/Çan</li>
                            </ul>
                        </div>
                        <div class="col-lg-2">
                            <ul>
                                <li>+905454429462</li>
                                <li>+905467764163</li>
                                <li>+905077597025</li>
                                <li>+905467908984</li>
                                <li>tamirciistasyonu@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="main-white-button">
                    <a href="@Model.Social.Info2" target="_blank" rel="nofollow" class="instagram"><i class="fa fa-instagram"></i><span>Instagram</span></a>
                    <a href="@Model.Social.Info1" target="_blank" rel="nofollow" class="facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="sub-footer">
                    <p>
                        @*Copyright © 2021 Plot Listing Co., Ltd. All Rights Reserved.
                        <br>
                        Design: <a rel="nofollow" href="https://templatemo.com" title="CSS Templates">TemplateMo</a>*@
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>