<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="/">TAMİRCİ İSTASYONU</a></li>
                        <li></li>
                        <li><a href="/">ANA SAYFA</a></li>
                        <li><a asp-controller="Paint" asp-action="Index">BOYA</a></li>
                        <li><a asp-controller="Steel" asp-action="Index">DEMİR</a></li>
                        <li><a asp-controller="Bodywork" asp-action="Index">KAPORTA</a></li>
                        <li><a asp-controller="Tire" asp-action="Index">LASTİK</a></li>
                        <li><a asp-controller="Contact" asp-action="Index">İLETİŞİM</a></li>
                        <li></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->